<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  
  <title>Βρες Αυτοκίνητο</title>
  
</head>

<body>
    <div class="header" id="header">
        <div class="header-items" id="logo" >
            <a  href="/" >
                <svg id="svg" width="70px" fill="black" version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
                    <path d="M436.932,218.203h-0.205c0.009-0.304,0.037-0.603,0.037-0.91l-1.236-7.933l9.604-9.603c1.34,0.841,2.911,1.347,4.608,1.347	c4.806,0,8.702-3.896,8.702-8.702v-11.298c0-4.807-3.896-8.702-8.702-8.702s-8.702,3.896-8.702,8.702v11.298c0,1.667,0.492,3.208,1.305,4.531l-7.57,7.57l-9.803-62.923c0-13.067-16.663-23.66-27.519-23.66H116.379c-10.854,0-27.518,10.593-27.518,23.66l-9.326,59.874l-7.272-7.271c0.813-1.323,1.305-2.864,1.305-4.531v-11.298c0-4.807-3.897-8.702-8.703-8.702c-4.805,0-8.702,3.896-8.702,8.702v11.298c0,4.807,3.897,8.702,8.702,8.702c1.698,0,3.269-0.506,4.609-1.347l9.304,9.304l-1.71,10.98c0,0.308,0.029,0.606,0.039,0.91h-2.038C38.398,218.203,16,251.011,16,291.485v20.151c0,26.175,12.441,39.938,31.145,46.404v26.878c0,5.06,4.101,9.16,9.16,9.16h71.451c5.06,0,9.16-4.101,9.16-9.16v-19.691l119.693,5.035l122.139-5.175v16.169c0,5.06,4.101,9.16,9.16,9.16h71.45c5.06,0,9.161-4.101,9.161-9.16v-24.613c16.644-6.967,27.48-20.582,27.48-45.007v-20.151C496,251.011,473.602,218.203,436.932,218.203z M100.275,141.391c0-9.18,15.531-16.623,25.649-16.623h261.984c10.117,0,25.649,7.443,25.649,16.623l10.992,53.197c0,9.181-8.203,16.624-18.321,16.624l-148.396,3.324l-150.229-3.324c-10.118,0-18.321-7.443-18.321-16.624L100.275,141.391z M122.941,321.201c0,0-24.875,42.848-78.843-19.128C-9.869,240.098,122.941,321.201,122.941,321.201z M309.579,355.639H204.255l-14.362-71.812h134.047L309.579,355.639zM469.736,302.073c-53.969,61.976-78.843,19.13-78.843,19.13S523.703,240.098,469.736,302.073z"/>
                </svg>
            </a>
        </div>
        <div class="header-items" id="header-details">
            <p style="margin-right: 30px;"><img src="img/phone.png" style="width:33px;margin-right:5px;" for="phone" alt=""><label id="phone" name="phone">2610-654378</label></p>
            <p ><img src="img/email.png" width="32px"  style="width:35px;margin-right:5px;" for="email" alt=""><label id="email" name="email">contact@rentcars.gr</label></p>
        </div>
        <div class="header-items">
            
            <div id="MainMenu" class="menu">
                <a href="javascript:void(0)" class="closebtn" onclick="closeMenu()">&times;</a>
                <a href="/">ΑΡΧΙΚΗ</a>
                <a href="/paketa">ΠΑΚΕΤΑ</a>
                <a href="/yphresies">ΥΠΗΡΕΣΙΕΣ</a>
                <a href="/asfaleia">ΑΣΦΑΛΕΙΑ</a>
                <a class="communication">ΕΠΙΚΟΙΝΩΝΙΑ</a>
                <div class="communication-details"><label>Τηλ.</label><br>2610-654378<br><label>Email</label><br>contact@rentcars.gr</div>
            </div>
            <span id="menu-btn" onclick="openMenu()">&#9776; </span>            
        </div>
    </div>
    <div style="background-color: rgb(197, 197, 197,0.7);">
        <div class="row" id="progress_box">
            <div class="col" id="progress">
                <div class="drop1">
                    <div>Η κράτησή σας</div>
                    <span class="sum ">Σύνολο <span class="sumprice">0,00€</span>
                    </span>
                </div>
                <div class="hr"><hr></div>
                <div class="progress_bar"></div>
                <div class="drop2">
                    <div class="row">
                        <div class="col-3" id="progress_steps" >
                            <div class="progress_box">
                                <div class="progress_header">
                                    <span class="checkmark">
                                        <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                                        width="20px" height="20px" viewBox="0 0 811.000000 768.000000"
                                        preserveAspectRatio="xMidYMid meet">
                                        
                                        <g transform="translate(0.000000,768.000000) scale(0.100000,-0.100000)"
                                        fill="green" stroke="none">
                                        <path d="M7697 7411 c-224 -120 -442 -240 -485 -267 -494 -312 -1629 -1367
                                        -2707 -2514 -59 -63 -623 -679 -1253 -1367 -630 -689 -1148 -1253 -1152 -1253
                                        -4 0 -128 383 -276 851 l-269 850 -365 -4 c-388 -5 -428 -9 -614 -62 -50 -15
                                        -134 -47 -186 -72 -88 -42 -106 -56 -242 -192 l-148 -146 506 -930 c543 -1000
                                        618 -1134 817 -1465 155 -258 410 -643 501 -757 l66 -83 153 0 153 0 50 58
                                        c245 278 688 905 1164 1647 204 318 297 457 524 780 677 966 1681 2251 2405
                                        3080 237 271 1718 1953 1748 1986 16 17 23 36 21 52 -3 25 -15 19 -411 -192z"/>
                                        </g>
                                    </svg>
                                    </span><label style="align-self: flex-start;">Πού και Πότε</label>
                                </div>
                                <div class="reserv_info">
                                    <p class="date1">{{post.step1.date1}}</p> ->
                                    <p class="date2">{{post.step1.date2}}</p>
                                </div>
                                <div class="reserv_info" style="margin-top:5px">
                                    <p class="stathmos_par">{{post.step1.stathmos_par}}</p> - <p class="stathmos_ep">{{post.step1.stathmos_ep}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-3" id="progress_steps">
                            <div class="progress_box">
                                <div class="progress_header">
                                    <label style="font-size: 20px;">2</label> <label style="align-self: flex-start;">Όχημα</label>
                                </div>
                                <div class="reserv_info">
                                    <label class="non_selected">Επιλέξτε όχημα</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-3" id="progress_steps">
                            <div class="progress_box">
                                <div class="progress_header">
                                    <label style="font-size: 20px;">3</label> <label style="align-self: flex-start;">Κάλυψη</label>
                                </div>
                                <div class="reserv_info">
                                    <label class="non_selected">Επιλέξτε πακέτο κάλυψης</label> 
                                </div>
                            </div>
                        </div>
                        <div class="col-3"  id="progress_steps">
                            <div class="progress_box">
                                <div class="progress_header">
                                    <label style="font-size: 20px;">4</label> <label style="align-self: flex-start;">Προϊόντα και Υπηρεσίες</label>
                                </div>
                                <div class="reserv_info">
                                    <label class="non_selected">Επιλέξτε επιπλέον προϊόντα και υπηρεσίες</label> 
                                </div>
                            </div>
                        </div>
                            
                    </div>
                </div>
            </div>
        </div>
        <div class="Body">
            <div class="row" id="main_buttons">
                <div class="col col-6">
                    <input type="button" id="epiloges_anazhthshs-btn" value="Επιλογές Αναζήτησης">
                </div>
                <div class="col col-6" style="text-align: end;">
                    <label class="top_deals-lbl">Βρέθηκαν <span class="num_of_cars">x</span> αυτοκίνητα.</label>
                </div>
            </div>
            <div class="row " id="Main-container">
                <div class="col col-3" id="filters">
                    <div style="margin:30px;display: flex;flex-direction:column;">
                        <label>ΕΙΔΟΣ ΑΥΤΟΚΙΝΗΤΟΥ</label>
                        <select class="select_carclass">
                            {{#each post.diathesimes_klaseis}}
                            <option>{{this.typos_oxhmatos}}</option>
                            {{/each}}
                        </select>
                        <label class="col" id="daily_charge-lbl">ΗΜΕΡΗΣΙΑ ΧΡΕΩΣΗ</label>
                        <div style="display:flex;justify-content: space-between;max-width:270px">
                            <label class="minprice">0</label>
                            <label class="maxprice">100</label>
                        </div>
                        <div class="rangebox">
                            <div class="middle">
                                <div class="multi-range-slider">
                                    <input type="range" id="input-left" min="0" max="100" value="0">
                                    <input type="range" id="input-right" min="0" max="100" value="100">
                                    <div class="slider">
                                        <div class="track"></div>
                                        <div class="range"></div>
                                        <div class="thumb left"></div>
                                        <div class="thumb right"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="button" value="Αναζήτηση" id="searchcar" onclick="SearchCar()">
                    </div>
                </div>
                <div class="col col-9" id="pages">
                    {{#each post.diathesima_cars}}
                    <div class="card">
                        <div class="img_container">
                            <img src="{{this.photo}}">
                        </div>
                        <div class="car_info">
                            <label class="model">{{this.modelo}}</label><br>
                            <label class="model_info">{{this.typos_oxhmatos}}</label>
                        </div>
                        <div>
                            <input type="button" id="selectcar-btn" value="{{this.timh}}€/μέρα">
                        </div>
                        <div id="hr"><hr></div>
                        <div class="car-icons">
                            
                        </div>
                    </div>
                    {{/each}}
                </div>
                
            </div>
            <hr>
            <div class="row" id="bottom_header">
              <div class="col col-6">
                  <a href="#" >
                      <svg id="svg" width="70px" fill="black" version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
                          <path d="M436.932,218.203h-0.205c0.009-0.304,0.037-0.603,0.037-0.91l-1.236-7.933l9.604-9.603c1.34,0.841,2.911,1.347,4.608,1.347	c4.806,0,8.702-3.896,8.702-8.702v-11.298c0-4.807-3.896-8.702-8.702-8.702s-8.702,3.896-8.702,8.702v11.298c0,1.667,0.492,3.208,1.305,4.531l-7.57,7.57l-9.803-62.923c0-13.067-16.663-23.66-27.519-23.66H116.379c-10.854,0-27.518,10.593-27.518,23.66l-9.326,59.874l-7.272-7.271c0.813-1.323,1.305-2.864,1.305-4.531v-11.298c0-4.807-3.897-8.702-8.703-8.702c-4.805,0-8.702,3.896-8.702,8.702v11.298c0,4.807,3.897,8.702,8.702,8.702c1.698,0,3.269-0.506,4.609-1.347l9.304,9.304l-1.71,10.98c0,0.308,0.029,0.606,0.039,0.91h-2.038C38.398,218.203,16,251.011,16,291.485v20.151c0,26.175,12.441,39.938,31.145,46.404v26.878c0,5.06,4.101,9.16,9.16,9.16h71.451c5.06,0,9.16-4.101,9.16-9.16v-19.691l119.693,5.035l122.139-5.175v16.169c0,5.06,4.101,9.16,9.16,9.16h71.45c5.06,0,9.161-4.101,9.161-9.16v-24.613c16.644-6.967,27.48-20.582,27.48-45.007v-20.151C496,251.011,473.602,218.203,436.932,218.203z M100.275,141.391c0-9.18,15.531-16.623,25.649-16.623h261.984c10.117,0,25.649,7.443,25.649,16.623l10.992,53.197c0,9.181-8.203,16.624-18.321,16.624l-148.396,3.324l-150.229-3.324c-10.118,0-18.321-7.443-18.321-16.624L100.275,141.391z M122.941,321.201c0,0-24.875,42.848-78.843-19.128C-9.869,240.098,122.941,321.201,122.941,321.201z M309.579,355.639H204.255l-14.362-71.812h134.047L309.579,355.639zM469.736,302.073c-53.969,61.976-78.843,19.13-78.843,19.13S523.703,240.098,469.736,302.073z"/>
                      </svg>
                  </a>
              </div>
              <div class="col col-6"  style="justify-content: flex-end;">
                  <div id="bottom_info" >
                      <div class="col-4">
                          <a href="">Όροι και Προϋποθέσεις</a>
                      </div >
                      <div class="col-4">
                          <a href="">Επικοινωνία</a>
                      </div >
                      <div class="col-4">
                          <a href="">Πολιτική Απορρήτου</a>
                      </div >
                  </div>
              </div>
          </div>
        </div>
    </div>
    
    <div class="modal fade " id="CarModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            
            <form id="carForm" method="post">
                <div class="modal-header">
                    <h4 class="modal-title" id="CarModalLabel">Επιλογή Αυτοκινήτου</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-body-items">
                        <div class="main_modal_car_info">
                            <div class="img_container">
                                <img id="car_image" src="../img/city_car.jpg">
                            </div>
                            <div class="modal_car_info">
                                <label class="model" id="modal_model">Μοντέλο</label>
                                <div class="model_info">
                                    <p style="font-size: 15px;">Τύπος: <span id="carclass"></span> οχήματα</p>
                                    <label>Τιμή: <span id="price"></span></label>
                                </div>
                                <div class="not_important">
                                    <label>Πληροφορίες περισσότερες σχετικά με το συγκεκριμένο όχημα</label>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="close" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="car_check" data-dismiss="">Επιλογή Αυτοκινήτου</button>
                </div>
            </form>
        </div>
        </div>
    </div>
</body>